/* Error: Undefined variable.
 *    ,
 * 12 |         @media only screen and (max-width: $breakpoint-sm) {line-height: 23px;}
 *    |                                            ^^^^^^^^^^^^^^
 *    '
 *   scss\components.scss 12:44  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 12 \2502          @media only screen and (max-width: $breakpoint-sm) {line-height: 23px;}\d\a    \2502                                             ^^^^^^^^^^^^^^\a    \2575 \a   scss\\components.scss 12:44  root stylesheet";
}
