// Base Typography
body {
  font-family: $base-font;
  @include font-size($font-body-min, $font-body-preferred, $font-body-max);
  line-height: $line-height-body;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 600;
}

h1 {
  @include font-size(2.5rem, 5vw, 4rem); // Scales between 40px and 64px
  line-height: $line-height-heading;
}

h2 {
  @include font-size(2rem, 4vw, 3.5rem); // Scales between 32px and 56px
}

h3 {
  @include font-size(1.75rem, 3vw, 3rem); // Scales between 28px and 48px
  color:$accent-color;
}

h4 {
  @include font-size(1.5rem, 2.5vw, 2.5rem); // Scales between 24px and 40px
}

h5 {
  @include font-size(1.25rem, 2vw, 2rem); // Scales between 20px and 32px
}

h6 {
  @include font-size(1rem, 1.5vw, 1.75rem); // Scales between 16px and 28px
}

p {
  @include font-size(1.2rem, 1.5vw, 1.3rem); 
  line-height: 1.7;
  color: #808285;
  @media (max-width: $breakpoint-md) {@include font-size(1rem, 1.5vw, 1.3rem); }
}
.img-fluid {
  @include responsive-image;
}
img {
  max-width: 100%;
  height: auto;

  @media (max-width: $breakpoint-md) {
    max-width: 80%; // Reduce the image size further on smaller screens
  }
  //@media (max-width: $breakpoint-sm) {
   // max-width: 50%; // Reduce the image size further on smaller screens
  //}
}
a {
  color: $accent-color;
  &:hover{
    color: $accent-color;
  }
}

.section-bg img{
    text-align: center;
}

/****************/
// Primary Button Customization
.btn-primary {
  background-color: $btnprimary-color !important;
  border-color: $btnprimary-color !important;
  color: $btntext-color !important;

  &:hover {
    background-color: $btnhover-color !important;
    border-color: $btnhover-color !important;
  }
  a{
    text-decoration: none;
    color:#fff;
    @include font-size(1.5rem, 1vw, 1.25rem);
  }
}

// Outline Button Customization
.btn-outline-primary {
  border-color: $btnprimary-color !important;
  color: $outline-text-color !important;

  &:hover {
    background-color: $btnprimary-color !important;
    color: $btntext-color !important;
    border-color: $btnprimary-color !important;
  }
  a{
    text-decoration: none;
    color:$btnprimary-color;
    @include font-size(1.5rem, 1vw, 1.25rem);
  }
}
.section-pd{
  padding-top: 80px;
  padding-bottom: 80px;
  @media only screen and (max-width: $breakpoint-lg) {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  @media only screen and (max-width: $breakpoint-sm) {
    padding-top:20px;
    padding-bottom: 20px;
  }
}
.section-bg{
  background-color: $bg-color;
}