
@font-face {
     font-family: 'signikaregular';
     src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
          url('../fonts/signika-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
  @font-face {
     font-family: 'signikasemibold';
     src: url('../fonts/signika-semibold-webfont.woff2') format('woff2'),
          url('../fonts/signika-semibold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
  // Color Variables
$primary-color: #50c5bc;
$secondary-color: #25b4ac;
$accent-color: #e1305c;
$black-color:#333;
$white-color:#fff;
$third-color:#1b746d;
$bg-color:#f7f5f2;

 // Font Variables
$base-font: "Open Sans",sans-serif;
$heading-font: 'signikaregular', "sans-serif";

// Base Font Sizes
$font-body-min: 1rem;      // Minimum font size for body
$font-body-preferred: 1.2vw; // Fluid scaling for body
$font-body-max: 1.5rem;    // Maximum font size for body

$line-height-body: 1.6;    // Line-height for body text
$line-height-heading: 1.3; // Line-height for headings

// button Variables
$btnprimary-color: #1b746d; // Main color
$btnhover-color: lighten($primary-color, 10%); // Lighter hover color
$btntext-color: #fff; // Text color for filled button
$outline-text-color: $primary-color; // Text color for outline button

//Media query variables
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1366px;
$breakpoint-xxl: 1920px;