//Banner styles

.banner, .inner-banner{
    background-image: url(../images/banner.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px;
    text-align: center;
    p{
        font-size: clamp(1.2rem, 1.6vw, 1.5rem);
        line-height: 32px;
        @media only screen and (max-width: $breakpoint-sm) {line-height: 23px;}
    }
}
.inner-banner{
    background-image: url(../images/banner1.JPG);
    padding: 100px 80px 50px;
    @media only screen and (max-width: $breakpoint-lg) {padding: 90px 20px 0px; }
    @media only screen and (max-width: $breakpoint-sm) {padding: 100px 20px 20px;} 
    
     header a{
        color:#fff;
        @media only screen and (max-width: $breakpoint-lg) {
            color:$third-color;}
   
    }   
}
.banner {
    @media only screen and (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl) { height: 100vh;}
    @media only screen and (max-width: $breakpoint-lg) {padding: 80px 20px;}    
    @media only screen and (max-width: $breakpoint-sm) {padding: 100px 20px 10px;} 
}
dl{
    &.left{
        text-align: right;
        @media only screen and (max-width: $breakpoint-md) { text-align: center;}
    }
    &.right{
        text-align: left;
        @media only screen and (max-width: $breakpoint-md) { text-align: center;}
    }
    dt{
        font-family: $heading-font;
        font-weight: 600;
        margin-bottom: 15px;
        @include font-size(1.5rem, 1.5vw, 1.8rem); 
        @media only screen and (max-width: $breakpoint-sm) {margin-bottom: 0px;}
    }
    dd{
        font-size: 18px;
        color: #808285;
        margin-bottom: 40px;
        @media only screen and (max-width: $breakpoint-sm) {font-size: 17px; margin-bottom: 10px;}
         &:last-child{
            margin-bottom: 0px;
        }
    }
   
}

//What we offer product container
.product-container {
    position: relative;
    text-align: center;
    .product-image-wrapper{
        height:320px;
        overflow: hidden;
        @media only screen and (max-width: $breakpoint-sm){ max-height: 250px;height: auto;}
        img{
            @media only screen and (max-width: $breakpoint-sm){ width:55%;}  
        }
    }
    .product-image-wrapper:hover  {
        .product-image{
            opacity: 0.5; /* Light opacity on hover */
        }
        .cart-btn {
            display: block;
          }
    }
    .cart-btn {
        position: absolute;
        top:50%;
         left: 50%;
        transform: translateX(-50%);
        display: none;
        cursor: pointer;
      }
      .product-info {
        margin-top: 10px;
        .product-title{
            @media only screen and (max-width: $breakpoint-sm){margin-bottom: 0px;}
        }
      }
      .rating-stars {
        font-size: 18px;
        color: gold;
      }
      .star {
        margin-right: 2px;
      }
    
  }
//Icons Container
.icons-bg{
    background-image: url(../images/juice.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .mask{
        background-color: rgb(27 116 109 / 72%);
        img{
            @media only screen and (max-width: $breakpoint-sm){max-width: 40%;}  
        }
    }
    .counter {
        @include font-size(2.5rem, 3vw, 3rem);
        margin-top: 40px;
        margin-bottom: 0;
        line-height: 40px;
        font-weight: 600;
        @media only screen and (max-width: $breakpoint-sm){ font-size: clamp(1.5rem, 2vw, 1.8rem);margin-top: 10px;     line-height: 23px; } 
      }
 
    p{
        @include font-size(1.5rem, 1.5vw, 1.8rem); 
        color:$white-color;
        @media only screen and (max-width: $breakpoint-sm){ font-size: clamp(1.2rem, 1.5vw, 1.8rem); margin-bottom:30px;}
       
    }
 }
//Testimonials section
 .testimonial-bg{
    background-image: url(../images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: $breakpoint-sm){
        background-size: inherit;
        background-position: left;
        }    

    .testimonial-text {
        font-size: 1.2rem;
        font-style: italic;
        color: #555;
      }
      .carousel-indicators {
        bottom: -60px;
        button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #333;
            &.active {
                background-color: $primary-color;}
       
           }
      }
    }    
//   .carousel-control-prev-icon,
//   .carousel-control-next-icon {
//     background-color: #333;
//     border-radius: 50%;
//     padding: 10px;
//   }
//contact section
.contact-bg{
    background-color: rgb(27 116 109 / 4%);
    border-radius: 4px;
    padding: 80px;
    margin: 50px;
    border: solid 1px #def0f3;
    @media only screen and (max-width: $breakpoint-lg) { text-align: left;padding: 36px; margin: 30px;}
    @media only screen and (max-width: $breakpoint-sm) {padding: 20px; margin-top:0px;}
    span{
        margin-left:55px;
        display: block;
    }
    i{
        color: $accent-color;
            &:before{
            width: 40px;
            height: 40px;
            // background: #055160;
            line-height: 40px;
            text-align: center;
            border-radius: 100%;
        }
    }
}
.contact-form{
    .form-label {
        margin-bottom: .5rem;
        font-size: 18px;
        margin-top: 10px;
        color: #333;
        @media only screen and (max-width: $breakpoint-sm){margin-bottom: 3px;font-size: 16px;  margin-top: 2px;}
        i{
            color:#228f86;
        }
    }
    .form-control {
        background-color: rgba(27, 116, 109, 0.04);
        border: 1px solid #def0f3;
        padding: 10px;
        @media only screen and (max-width: $breakpoint-sm){    padding: 6px 10px;}
    }
    @media only screen and (max-width: $breakpoint-lg) {text-align: left; margin: 30px;}
    @media only screen and (max-width: $breakpoint-sm) {margin-top: 15px;}
}


//Footer Section
footer p{
    font-size: 13px;
    a{
        color: $accent-color;
        text-decoration: none;
    }
}

